@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

label, p {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 10px;
}

.Hero {
    background: url(../interactive-card-details-form-main/interactive-card-details-form-main/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15em;
}

.cardLogo {
    margin-left: -3.2em;
    position: absolute;
   
}

.frontCard {
    margin-bottom: 5em;
}

.cardFront {
    margin-top: -1em;
    margin-left: -5em;
    width: 23em;
    margin-bottom: 20px;
}

.number {
    font-size: 1.5em;
    color: white;
    margin-left: -2em;
    margin-top: -5em;
}

.cardSpan {
    color: white;
    margin-left: -3.1em;
    margin-top: -0.2em;
    font-family: 'Space Grotesk', sans-serif;
     text-align: start;
    table-layout: fixed;
    text-transform: uppercase;
   
}

.firstTable {
    width: 16em;
    overflow: hidden;
    text-overflow: ellipsis; 
  }


.secondTable {
    width: 1em;
  }

.backCard {
    margin-bottom: 8.9em; 
}

.cardBack {
    width: 23em;
    margin-right: -15em;
}

.CVC {
    color: white;
    margin-top: -8.9em;
    margin-left: 22.5em;
}

.inputField {
    display: flex;
    flex-direction: column;
}

input {
    height: 2.5em;
    margin-top: 5px;
    margin-bottom: 1.4em;
    border-radius: 5px;
    border-color: hsl(270, 3%, 87%);
    outline: none;
    padding-left: 10px;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 1px;
}

::placeholder {
    color: hsl(270, 3%, 87%);
}

.expDate {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.expDiv {
    display: flex;
}

.expError {
    color: red;
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: 12px;
    margin-right: -3.6em;
}

.cvc {
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    height: 3em;
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.OnSubmission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    color: red;
    margin-left: 1rem;
    margin-top: -1em;
    font-size: 12px;
}

.nameError {
    color: red;
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: 14px;
}